---
title: Home
heading: 'One District'
image: placeholder2
---

<div class="main">
{{> header }}
  <div class="spanning">
    {{> discover}}

    {{> regolamento}}

    {{> point}}

    {{> newsletter}}

  </div>
{{> footer}}
</div>