<div class="discover clearfix">
    <div class="wrap">
        <div class="discover-content clearfix">
            <h2>FantaRunning</h2>
            <p>Sfida i tuoi amici sul tuo percorso alle tue condizioni. Accetta la sfida, misurati con i tempi degli altri, corri lungo lo stesso percorso, alla stessa ora, lo stesso giorno anche a 10.000km di distanza, anche ad una settimana di distanza. Entra nel mondo di Fantarunning, la prima Applicazione che elimina le distanze, dove il tempo e’ un presente continuo.</p>

            <div class="discover-button clearfix">
                <a href="#" class="button button-download">
                    <span class="button-download-title">Scarica l'app</span>
                    <span class="button-download-subtitle">per iPhone</span>
                </a>
            </div>
            </div>
                <div class="discover-img">
                <div class="discover-img-inside"><img src="upload/discover.png" height="486" width="634" alt=""></div>
            </div>
    </div>
</div>