<div class="discover clearfix">
    <div class="wrap">
        <div class="discover-content clearfix">
            <h2>FantaRunning</h2>
            <p>Sfida i tuoi amici, sul tuo percorso e alle tue condizioni. Accetta la sfida, fai la tua corsa e misurati con i tempi degli altri, come se fossi sullo stesso percorso, alle stesse condizioni ma dove e quando vuoi tu (anche a 10.000km di distanza , anche una settimana dopo). Entra nel mondo di FantaRunning, la prima applicazione che elimina le distanze, dove il tempo è un presente continuo.</p>

            <div class="discover-button clearfix">
                <a href="#" class="button button-download">
                    <span class="button-download-title">Scarica l'app</span>
                    <span class="button-download-subtitle">per iPhone</span>
                </a>
            </div>
            </div>
                <div class="discover-img">
                <div class="discover-img-inside"><img src="{{assets}}/images/discover.png" height="486" width="634" alt=""></div>
            </div>
    </div>
</div>