<footer>
  <div class="wrap">
    <p>&copy; 2015 <strong>Fantarunning</strong>, <a href="./privacy.html">privacy policy</a>, <a href="http://disegnatoperte.com/fantarunning/en">english version</a></p>
  </div>
</footer>