<header>
  <div class="wrap">
    <img src="{{assets}}/images/iphone.png" height="532" width="252" alt="" class="header-img">
    <div class="header-wrapper">
      <h1><img src="{{assets}}/images/fantarunning.svg" alt="Fantarunning" class="logo"></h1>
      <p>Allaccia le scarpe e corri</p>
      <div class="buttons-wrapper">
        <a href="#" class="button">Scarica L'App</a>
        <a href="#" class="button button-stripe">Regolamento</a>
      </div>
    </div>
  </div>
</header>