<div class="newsletter clearfix">
    <div class="wrap">
        <div class="newsletter-title">our newsletter</div>
        <div class="newsletter-form clearfix">
            <form action="">
                <input type="email" placeholder="john@doe.com" class="input-text">
                <input type="button" class="button" value="Subscribe">
            </form>
        </div>
        <p>If you want to recieve monthly updates from us just pop your email in the box. We think that spam is for jerks. And we are no jerks.</p>
    </div>
</div>