<div class="comments clearfix">
   <div class="wrap">
        <div class="tab">
            <div class="box visible">
                <p>Fai la tua corsa</p>
            </div>
            <div class="box">
                <p>Sfida i tuoi amici</p>
            </div>
            <div class="box">
                <p>Dovunque si trovino e su qualsiasi percorso</p>
            </div>
            <ul class="tabs">
                <li class="active"></li>
                <li></li>
                <li></li>
            </ul>
            <a href="#" class="tab-prev"></a>
            <a href="#" class="tab-next"></a>
        </div>
    </div>
</div>