<div class="simple clearfix">
    <div class="wrap">
        <div class="simple-content">
            <h3>Perché <span>FantaRunning</span>?</h3>
            <ul>
                <li class="clearfix"><img src="{{assets}}/images/ico1.png" height="32" width="32" alt=""><span>Sfida i tuoi amici, anche se sono lontani</span></li>
                <li class="clearfix"><img src="{{assets}}/images/ico2.png" height="32" width="32" alt=""><span>Corri su qualsiasi percorso in qualsiasi condizione climatica</span></li>
                <li class="clearfix"><img src="{{assets}}/images/ico3.png" height="32" width="32" alt=""><span>L'applicazione è gratuita</span></li>
            </ul>
        </div>
        <div class="simple-img">
            <img src="{{assets}}/images//screen.png" height="508" width="587" alt="">
        </div>
    </div>
</div>