<div class="comments clearfix">
   <div class="wrap">
        <div class="tab">
            <h4>Regolamento - Come si usa</h4>
            <div class="box visible">
                <p>Lancia l’applicazione</p>
            </div>
            <div class="box">
                <p>Seleziona la  tipologia del terreno del tuo percorso premi il tasto start e corri</p>
            </div>
            <div class="box">
                <p>Quando finisci di correre premi il tasto stop e  dai il nome alla tua sfida e lanciala invitando i  tuoi amici via mail.</p>
            </div>
            <div class="box">
                <p>I tuoi amici devono solo accettare la sfida all’interno del tab dedicato alle sfide, selezionare la tipologia di percorso su cui sono, premere start ad inizio corsa e stop per salvare la prestazione.</p>
            </div>
            <div class="box">
                <p>Potranno quindi decidere se utilizzare quella prestazione come risposta alla sfida che hanno accettato ed entrare quindi in classifica.</p>
            </div>
            <div class="box">
                <p>Gli sfidanti potranno quindi correre su qualsiasi percorso in qualsiasi condizione climatica, coprendo una distanza che sia per un massimo del 20% superiore od inferiore rispetto a quella di chi ha lanciato la sfida.</p>
            </div>
            <div class="box">
                <p>Fantarunning renderà confrontabili le diverse prestazioni, armonizzando i seguenti  parametri: distanza percorsa, temperatura umidità, altimetria, fondo del terreno, come se tutti i  partecipanti alla sfida avessero corso sullo stesso percorso nello stesso momento.</p>
            </div>
            <ul class="tabs">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a href="#" class="tab-prev"></a>
            <a href="#" class="tab-next"></a>
        </div>
    </div>
</div>